@charset "UTF-8";
body{
    background-position: bottom right,center;
    text-align: center;
    background-image: url(../image/back3.png);
	background-size:100% 100%;
	
	background-attachment: fixed;
	background-position: center center;
	
	
	
    
}
