@charset "UTF-8";

body{overflow: hidden;
	background-image: url(../image/Catback.png);
	background-position: center;
	background-size:2500px;
}



.textbox {
	width: 180x;
		height: 50px;
	font-size: 18px;
}

.textbox_time {
	width: 180px;
	height: 50px;
	font-size: 18px;
}

.textbox_unit {
	width: 80px;
		height: 50px;
		font-size: 18px;
}

.btn {
		width: 200px;
		height: 50px;
	  display       : inline-block;
	  font-size     : 20pt;        /* 文字サイズ */
	  text-align    : center;      /* 文字位置   */
	  cursor        : pointer;     /* カーソル   */
	  padding       : 12px 12px;   /* 余白       */
	  background    : rgb(255, 255, 255);     /* 背景色     */
	  color         : rgb(0, 0, 0);     /* 文字色     */
	  line-height   : 1em;         /* 1行の高さ  */
	  transition    : .3s;         /* なめらか変化 */
	  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	  position: relative;
	  	 
	  top: 60px;
	  	left:630px;
		bottom: 50px;
	}
	.btn:hover {
	  box-shadow    : none;        /* カーソル時の影消去 */}
	  
	  
	  
	/*確認画面用のボタン*/
	
	/*左*/
	.btn_left {
			width: 200px;
			height: 50px;
		  display       : inline-block;
		  font-size     : 20pt;        /* 文字サイズ */
		  text-align    : center;      /* 文字位置   */
		  cursor        : pointer;     /* カーソル   */
		  padding       : 12px 12px;   /* 余白       */
		  background    : rgb(255, 255, 255);     /* 背景色     */
		  color         : rgb(0, 0, 0);     /* 文字色     */
		  line-height   : 1em;         /* 1行の高さ  */
		  transition    : .3s;         /* なめらか変化 */
		  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
		  position: relative;
		  	 
		  top: 60px;
		  	left:480px;
			bottom: 50px;
		}
		.btn_left:hover {
		  box-shadow    : none;        /* カーソル時の影消去 */}
	  
	  
	  
	  /*右*/
	  .btn_right {
	  		width: 200px;
	  		height: 50px;
	  	  display       : inline-block;
	  	  font-size     : 20pt;        /* 文字サイズ */
	  	  text-align    : center;      /* 文字位置   */
	  	  cursor        : pointer;     /* カーソル   */
	  	  padding       : 12px 12px;   /* 余白       */
	  	  background    : rgb(255, 255, 255);     /* 背景色     */
	  	  color         : rgb(0, 0, 0);     /* 文字色     */
	  	  line-height   : 1em;         /* 1行の高さ  */
	  	  transition    : .3s;         /* なめらか変化 */
	  	  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	  	  position: relative;
	  	  	 
	  	  top: 10px;
	  	  	left:720px;
	  		bottom: 50px;
	  	}
	  	.btn_right:hover {
	  	  box-shadow    : none;        /* カーソル時の影消去 */}
	  
	  
	  
	  
	  
	  
	  
/*コメント記入画面のボタン*/
.btn_comment {
		width: 200px;
		height: 50px;
	  display       : inline-block;
	  font-size     : 20pt;        /* 文字サイズ */
	  text-align    : center;      /* 文字位置   */
	  cursor        : pointer;     /* カーソル   */
	  padding       : 12px 12px;   /* 余白       */
	  background    : rgb(255, 255, 255);     /* 背景色     */
	  color         : rgb(0, 0, 0);     /* 文字色     */
	  line-height   : 1em;         /* 1行の高さ  */
	  transition    : .3s;         /* なめらか変化 */
	  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	  position: relative;
	  	 
	  top: 10px;
	  	left:630px;
		bottom: 50px;
	}
	.btn_comment:hover {
	  box-shadow    : none;        /* カーソル時の影消去 */}
	  
	  
	  
	  
	  /*コメント記入画面（確認画面）のボタンの高さ調節*/
	  /*左*/
	  	.btn_left_comment_check {
	  			width: 200px;
	  			height: 50px;
	  		  display       : inline-block;
	  		  font-size     : 20pt;        /* 文字サイズ */
	  		  text-align    : center;      /* 文字位置   */
	  		  cursor        : pointer;     /* カーソル   */
	  		  padding       : 12px 12px;   /* 余白       */
	  		  background    : rgb(255, 255, 255);     /* 背景色     */
	  		  color         : rgb(0, 0, 0);     /* 文字色     */
	  		  line-height   : 1em;         /* 1行の高さ  */
	  		  transition    : .3s;         /* なめらか変化 */
	  		  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	  		  position: relative;
	  		  	 
	  		  top: 3px;
	  		  	left:480px;
	  			bottom: 50px;
	  		}
	  		.btn_left_comment_check:hover {
	  		  box-shadow    : none;        /* カーソル時の影消去 */}
	  	  
	  	  
	  	  
	  	  /*右*/
	  	  .btn_right_comment_check {
	  	  		width: 200px;
	  	  		height: 50px;
	  	  	  display       : inline-block;
	  	  	  font-size     : 20pt;        /* 文字サイズ */
	  	  	  text-align    : center;      /* 文字位置   */
	  	  	  cursor        : pointer;     /* カーソル   */
	  	  	  padding       : 12px 12px;   /* 余白       */
	  	  	  background    : rgb(255, 255, 255);     /* 背景色     */
	  	  	  color         : rgb(0, 0, 0);     /* 文字色     */
	  	  	  line-height   : 1em;         /* 1行の高さ  */
	  	  	  transition    : .3s;         /* なめらか変化 */
	  	  	  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	  	  	  position: relative;
	  	  	  	 
	  	  	  	left:720px;
	  	  		bottom: 50px;
	  	  	}
	  	  	.btn_right_comment_check:hover {
	  	  	  box-shadow    : none;        /* カーソル時の影消去 */}
	  
	  
	  
	  
	  
	  
	  .AS{	  width: 200px;
	  		height: 50px;
	  	  display       : inline-block;
	  	  font-size: 30px;        /* 文字サイズ */
	  	  text-align    : center;      /* 文字位置   */
	  	  cursor        : pointer;     /* カーソル   */
	  	  /*padding       : 12px 12px;   /* 余白       */
	  	  background    : rgb(255, 255, 255);     /* 背景色     */
	  	  color         : rgb(0, 0, 0);     /* 文字色     */
	  	  line-height   : 1em;         /* 1行の高さ  */
	  	  transition    : .3s;         /* なめらか変化 */
	  	  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	  	  position: relative;
		  left:1100px;
		  bottom:60px;
		  margin: auto;
	  	  	
	  	}
	  	.AS:hover {
	  	  box-shadow    : none;        /* カーソル時の影消去 */}
	  	
	  
	.A{
			position: relative;
			bottom: 30px;
			font-size: 25px;
				
			margin-top: 70px;
			margin-left: 500px;
		
	}
	  
    
	.Animal{
			margin: 40px 30px 0px 0px;
			font-size: 30px;
			position: relative;
			bottom: 15px;
		}
		.test-con {
			margin: auto;
		 
		  text-align: right;
		  }
	
.karte {
	width: 1000px;
	height: 800px;
}


.drug {
	width: 500px;
	position: relative;
	bottom: 30px;
	left:30px;
	font-size: 30px;
		
	margin-left: 200px;
	
}



.birth {
	
		width: 500px;
		font-size: 30px;
		position: relative;
		bottom: 30px;
		
		left: 220px;	
		bottom: 240px;
		margin-right: 30px;
		float: right;
		

}



		


/*カルテ情報記録ボタン*/
.btn_karte {
	  			width: 200px;
	  			height: 50px;
	  		  display       : inline-block;
	  		  font-size     : 20pt;        /* 文字サイズ */
	  		  text-align    : center;      /* 文字位置   */
	  		  cursor        : pointer;     /* カーソル   */
	  		  padding       : 12px 12px;   /* 余白       */
	  		  background    : rgb(255, 255, 255);     /* 背景色     */
	  		  color         : rgb(0, 0, 0);     /* 文字色     */
	  		  line-height   : 1em;         /* 1行の高さ  */
	  		  transition    : .3s;         /* なめらか変化 */
	  		  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	  		  position: relative;
	  		  	 
	  		  	left:600px;
	  			bottom: 550px;
	  		}
	  		.btn_karte:hover {
	  		  box-shadow    : none;        /* カーソル時の影消去 */}

			  .animal_back {
				width: 200px;
						height: 50px;
					  display       : inline-block;
					  font-size     : 20pt;        /* 文字サイズ */
					  text-align    : center;      /* 文字位置   */
					  cursor        : pointer;     /* カーソル   */
					  padding       : 12px 12px;   /* 余白       */
					  background    : rgb(255, 255, 255);     /* 背景色     */
					  color         : rgb(0, 0, 0);     /* 文字色     */
					  line-height   : 1em;         /* 1行の高さ  */
					  transition    : .3s;         /* なめらか変化 */
					  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
					  position: relative;
					  	 
					  top: 90px;
					  	left:630px;
						bottom: 50px;
			  	  	 
			  	  
					
			  	}
			  	.animal_back:hover {
			  	  box-shadow    : none;        /* カーソル時の影消去 */}





















