@charset "UTF-8";

/*ページ全体*/

body{
    background-position: bottom right,center;
    text-align: center;
    background-image: url(../image/back3.png);
	background-size:100% 100%;
	/*width: 100%;*/
	background-attachment: fixed;
	background-position: center center;
	
	
	/*height: 600px;*/
    margin-top: 150px;
}

.logo{
	font-family:  Arial Black;
	font-size: 50pt;
	position: relative;
	right: 300px;
	bottom: 300px;
}

.ken{
	background-color: rgb(128, 255, 128);
	border-radius: 20px;
	margin-left: 750px;
	
			margin-right: 400px;
		padding:10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
  background-color: rgb(128, 255, 128);
  padding: 15px 40px;
  
  margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

 
  

}
.form-group {
  margin-bottom: 15px;
}

input {
  width: 100px;
  padding: 10px 15px;
  border: 2px solid rgb(255, 255, 128);
  border-radius: 25px;
  font-size: 16px;
}

input::placeholder {
  color: rgb(255, 255, 128);
}

input:focus {
  outline: none;
  border-color: rgb(255, 255, 0);
  box-shadow: 0 0 5px rgb(255, 255, 128);
}